
<!-- cuisine-names -->
<div class="cuisine-names">
	<div class="container">
		<div class="w3_cuisine_names_left w3l_cuisine_names_left">
			<h3>Egg Rolls ----- <span>$3</span></h3>
			<h3>Fried Shrimp ----- <span>$5</span></h3>
			<h3>Wrapped Chicken ----- <span>$7</span></h3>
			<h3>Hot and Sour Soup ----- <span>$4</span></h3>
			<h3>Chicken Soup ----- <span>$5</span></h3>
		</div>
		<div class="w3ls_cuisine_names_left">
			<%= image_tag '3.png', alt: '', class: 'img-responsive'%>
		</div>
		<div class="w3_cuisine_names_left">
			<h3>Mushroom Chicken ----- <span>$4</span></h3>
			<h3>Kung pao Beef ----- <span>$7</span></h3>
			<h3>Garlic Shrimp ----- <span>$3</span></h3>
			<h3>Hot Been Curd ----- <span>$8</span></h3>
			<h3>Soft Drinks ----- <span>$5</span></h3>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //cuisine-names -->