<!-- nav -->
<div class="nav_main">
	<div class="overlay"></div>
	<div class="mobile-side-menu">
		<ul>
			<li class="active"><a href="main.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
			<li><a href="menu.html"><i class="fa fa-compass" aria-hidden="true"></i>Our Food</a></li>
			<li><a href="blog.html"><i class="fa fa-picture-o" aria-hidden="true"></i>Blog</a></li>
			<li><a href="team.html"><i class="fa fa-users" aria-hidden="true"></i>Our Chef</a></li>
			<li><a href="short-codes.html"><i class="fa fa-dashcube" aria-hidden="true"></i>Short Codes</a></li>
			<li><a href="icons.html"><i class="fa fa-random" aria-hidden="true"></i>Web Icons</a></li>
			<li><a href="contact.html"><i class="fa fa-map-marker" aria-hidden="true"></i>Location</a></li>
			<li><a href="sign-in.html"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
		</ul>
	</div>
	<div class="navbar">
		<div class="agile_container">
			<div class="w3_agile_nav_main_left">
				<div class="toggleMenu">
					<a href="#"> Menu </a>
				</div>
			</div>
			<div class="w3_agile_nav_main_right">
				<ul class="wthree_social_icons">
					<li><a href="#" class="w3_agileits_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agileits_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agileits_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- <script type="text/javascript" src="js/slide-from-top.js"></script> -->
<script type="text/javascript">
  $(document).ready(function() {
     $('.mobile-side-menu').slideFromTop({
        menuBtn: $('.toggleMenu'),
        navbar: $('.navbar'),
        menuSpeed: 500,
        bodyOverlay: $('.overlay')
     });
  });
</script>
<!-- //nav -->