
  <!-- <div class="main-row">
    <h1>Cookhouse</h1>
    <div class="main_frame w3layouts_frame">
      <iframe class="frame-border scroll-pane" src="<%= main_home_index_path %>" frameborder="0"></iframe>
    </div>
  </div> -->

